mixin input(id, type, placeholder, subtitle, invalid)
	.form-group
		label.sr-only(for=id)
			block
		input(type= type ? type : "text", id=id, name=id, class="form-control", placeholder=placeholder, aria-describedby=subtitle ? id + "-desc" : false, onfocus="this.placeholder=''", onblur="this.placeholder='" + placeholder + "'" required)
		if subtitle
			small(id=id+"-desc", class="form-text text-muted text-left")= subtitle
		.invalid-feedback= invalid

mixin textarea(id, rows, placeholder, subtitle, invalid)
	.form-group
		label.sr-only(for=id)
			block
		textarea(id=id, name=id class="form-control", rows=rows, placeholder=placeholder,aria-describedby=subtitle ? id + "-desc" : false, onfocus="this.placeholder=''", onblur="this.placeholder='" + placeholder + "'" required)
		if subtitle
			small(id=id+"-desc", class="form-text text-muted text-left")= subtitle
		.invalid-feedback= invalid

mixin submit()
	button(type="submit", class="btn btn-outline-primary text-hover-white")
		block